@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Ubuntu', sans-serif;
}
.half-width{
    width: 50%;
}
.text-center{
    text-align: center;
}
/* header css */
.header-section{
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
   margin-right: 50px;
}
.title{
    border-left: 3px solid crimson ;
    padding-left: 10px;

}
.title h1{
    color: black;
    margin-top: 10px;
    font-size: 40px;
}
.title h2{
    color: crimson;
    margin-top: 10px;
    margin-bottom: 18px;
    font-size:30px ;
}
.header-section {
    padding: 30px;
}
.header-section p{
    margin-bottom: 40px;
   
}
.btn{
    background: crimson;
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 20px;
}
.header-image img{
    max-width: 60%;
    margin-left: 80px;
    
    
}
h4{
    margin: 10px 0;
}


/* mission css */
.dream{
    padding: 50px 0;
}
.dreams{
    display: flex;
}
.dream1{
    width: 31%;
    margin: 2%;
    background: #686de0;
    padding: 40px;
    border-radius: 10px;

}
.dream1 img{
width: 100%;
}
.dream2{
    width: 31%;
    margin: 2%;
    background: #7ed6df;
    padding: 40px;
    border-radius: 10px;
}
.dream2 img{
    width: 100%;

}
.dream3{
    width: 31%;
    margin: 2%;
    background: #95afc0;
    padding: 40px;
    border-radius: 10px;
}
.dream3 img{
width: 100%;
}
.btn2{
    background: crimson;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 20px;
}
/* blog-css */
.blog-section{
    display: flex;
    margin: 0 50px;
}
.blog-img img{
    width: 100%;
    padding: 50px;
}
.blog-content{
    margin-top: 40px;
    margin-left: 30px;
}
.blog-content h1{
    font-size: 50px;
}
.blog-content h2{
    font-size: 40px;
    margin-top: 20px;
}
.blog-content p{
    margin-bottom: 30px;
    line-height: 1.6rem;
    white-space: 1.5rem;
    color: #535c68;
}

/* project css */
.projects{
    display: flex;
    padding: 50px;
}
.project-img img{
    max-width: 60%;
    margin-left: 40px;
}
.project-content{
    margin-left: 40px;
}
.project-content h1{}
.project-content p{
    margin: 30px 0;
    font-size: 16px;
}
.project-content a{
    
}

/* services section css */
.services{
    display: flex;
    margin: 50px 50px;
    border-radius: 20px;
}

.service img{
    width: 350px;
    height: 300px;
    margin: 20px;
   
    border-radius: 10px;
    
}
.service h4{
    margin-left: 30px;
    font-size: 30px;

}
.service-head{
    letter-spacing: 3px;
    word-spacing: 20px;
    font-weight: 500;
}
/*  footer css*/
footer{
    background-color: #1e272e;
    padding: 15px 0;
    color: white;
    text-align: center;

}